h1 {
    font:80px 'Gilroy', sans-serif;
    font-weight: 800;
    font-style: normal;
    color: #000000;
    line-height: 5px;
    word-break: break-word;
    color: #ffffff;
  }

  .centerall {
    justify-content: center;
  }

  h2 {
    font:30px 'Gilroy', sans-serif;
    font-weight: 800;
    font-style: normal;
    color: #000000;
    word-break: break-word;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
  }

  .centerbutt {
    text-align: center;
  }
  

p {
    font:25px 'Gilroy', sans-serif;
    font-weight: 500;
    font-style: normal;
    color: #000000;
    word-break: break-word;
    text-align: center;
    color: #ffffff;
  }

  * {
    box-sizing: border-box;
  }
  
  .row {
    display: flex;
    justify-content: center;
    text-align: center;
  }
  
  /* Create two equal columns that sits next to each other */
  .column {
    padding: 50px;
    justify-content: center;
    text-align: center;

  }

  .button1 {
    text-align: center;
    justify-content: center;
    font:20px 'Gilroy', sans-serif;
    font-style: normal;
    font-weight: 600;
    background-color:#1C2948;
    border: none;
    color:#ffffff;
    padding: 12px 18px;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    cursor: pointer;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.3s;
    border-radius: 10px;
    -webkit-appearance: none;
  }

  .button1:hover, .hvr-shadow:focus, .hvr-shadow:active {
    box-shadow: 0 20px 20px -20px rgba(124, 10, 139, 0.5);
  }


  body {
      height: auto;
      background-image: url('back-icons.png');
      background-size: 100%;
      background-repeat: no-repeat;
      background-position: top center;
      background-position-y: -25px;
      margin: 0px;
      padding: 0px;
      height:100%;
  }

  @media only screen and (min-width:1001px) {
    h2 {
      width: 350px;
    }
  }
  

  @media only screen and (max-width: 1000px) {
    h2 {
      width: auto;
    }
    body {
      background-size: 300%;
    }
    img {
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 50%;
    }
    .row {
        /* it place the items in vertical direction */
      flex-direction: column;
    }
    h1 {
      font-size: 50px;
      text-align: center;
    }
    .icon {
      text-align: center;
      justify-content: center;
    }
  }

  .title-container {
    display: flex;
    flex-basis: 100%;
    align-items: center;
    justify-content: space-around;
    padding-top: 50px;
    flex-wrap: wrap;
}
html {
  background: linear-gradient(-45deg, #6730e6, #4b30e6, #7F30E6, #6730e6);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
  }
}